* {
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
  background-color: #e9e9e9;
  background: url("img/Background.jpg") repeat;
  border-top: 5px solid #d7a229;
  color: #333;
  font-weight: 400;
  line-height: 1.7; }

img {
  border: none; }

a {
  text-decoration: none;
  outline: none; }

.container {
  background-color: #FFF;
  width: 1000px;
  margin: 0 auto; }

.header {
  width: 940px;
  padding: 59px 30px 0 30px;
  overflow: hidden;
  background: url("img/header_bg.jpg") repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url("img/header_bg.jpg") repeat;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("img/header_bg.jpg") repeat;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("img/header_bg.jpg") repeat; }
  .header_logo {
    font-family: CocaColaii;
    color: #3b3f41;
    font-size: 6em;
    font-weight: 400;
    line-height: 0.333;
    text-align: left;
    text-shadow: 0px 3px 0px rgba(255, 255, 255, 0.4);
    float: left; }
  .header_contact {
    float: right;
    margin-bottom: 10px; }
    .header_contact img {
      vertical-align: baseline;
      margin-right: 5px; }
    .header_contact span {
      padding: 0 10px 0 10px; }
  .header_social {
    clear: right;
    float: right; }
    .header_social a {
      margin-left: 5px; }

.header_contact {
  font-family: DroidSerif;
  color: #d4d4d4;
  font-size: 1.2em;
  font-weight: 700; }
  .header_contact a {
    color: #d4d4d4; }

.header_menu {
  clear: both;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 43px;
  border-radius: 3px 3px 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) #333639;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) #333639; }
  .header_menu ul {
    list-style: none; }
    .header_menu ul li {
      float: left;
      border-left: 1px solid #494D4E;
      border-top: 1px solid #494D4E;
      border-right: 1px solid #303436; }
      .header_menu ul li a {
        padding: 15px 18px 11px;
        display: block;
        font-family: DroidSerif;
        color: #fff;
        font-size: 1.2em;
        font-weight: 700;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7); }
      .header_menu ul li:hover {
        border-bottom: 4px solid rgba(215, 162, 41, 0.7); }
    .header_menu ul li:last-child {
      border-right: none; }

.header_menu-active, li:active {
  background-color: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  border-bottom: 4px solid #d7a229; }

.search {
  margin: 10px 7px 0 0;
  float: right; }
  .search-txt {
    border: 1px solid #b0b1b1;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    width: 150px;
    height: 25px;
    border-radius: 13px;
    padding-left: 10px; }
  .search-btn {
    padding-left: 9px; }

.jcarousel-wrapper {
  position: relative;
  width: 100%;
  height: 460px; }

/** Carousel */
.jcarousel {
  position: relative;
  overflow: hidden; }
  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .jcarousel li {
    float: left; }

/** Carousel Controls */
.jcarousel-control-prev, .jcarousel-control-next {
  position: absolute;
  top: 200px;
  text-align: center;
  color: rgba(74, 74, 74, 0.8);
  width: 36px;
  height: 59px;
  text-decoration: none;
  font: 135px/30px Arial; }

.jcarousel-control-prev {
  left: 29px; }

.jcarousel-control-next {
  right: 29px; }

.jcarousel-control-prev:hover span, .jcarousel-control-next:hover span {
  display: block; }

.jcarousel-control-prev.inactive, .jcarousel-control-next.inactive {
  opacity: 0.5;
  cursor: default; }

/** Carousel Pagination */
.jcarousel-pagination {
  position: absolute;
  bottom: 15px;
  left: 50%; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  color: transparent;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 3px;
  opacity: 0.75;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0); }

.jcarousel-pagination a.active {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-clip: content-box;
  background-image: url("img/2_center.jpg");
  background-position: 2px;
  color: transparent; }

::-webkit-input-placeholder {
  opacity: 0.6;
  padding-left: 10px; }

::-moz-placeholder {
  opacity: 0.6;
  padding-left: 10px; }

:-moz-placeholder {
  opacity: 0.6;
  padding-left: 10px; }

:-ms-input-placeholder {
  opacity: 0.6;
  padding-left: 10px; }

/*# sourceMappingURL=style.css.map */